/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}

.admin,
.member {
    display: none;
}

#signedin {
    display: none;
}

.memberpic {
    height: 64px;
    max-width: 64px;
}

.changed {
    color: red;
}

input[type=checkbox].updating {
    outline: 5px solid yellow;
}

input[type=text].changed {
    outline: 3px solid red;
}

input[type=text].updating {
    outline: 3px solid yellow;
}

.btn-overlay {
    position: absolute;
    bottom: 0px;
}

footer {
    position: absolute;
    left: 0px;
    width: 100%;
}

.input-group .dropdown-menu {
    width: 100%;
}

.clubbadge {
    max-width: 64px;
    max-height: 64px;
    margin: 12px;
    display: inline-block;
}

.rowmt {
    margin-top: 24px;
}

.rowbt {
    margin-bottom: 12px;
}

.nol {
    padding-left: 0px;
}

.editUser {
    display: none;
}

.showUser {
    display: block;
}